<div id="parent">
    <div>
        <h2>فیلتر ها</h2>
        <hr>
        <div id="menu">
            <ul>
                <li>فیلتر براساس قیمت</li>
                <li>برندها</li>
                <li>درگاه کارت‌ خوان</li>
                <li>ظرفیت حافظه RAM</li>
                <li>ظرفیت حافظه HDD</li>
                <li>ظرفیت حافظه SSD</li>
                <li>امکان چرخش ۳۶۰ درجه</li>
                <li>حسگر اثر انگشت</li>
                <li>درایو نوری</li>
                <li>مینی کامپیوتر</li>
                <li>پشتیبانی از سیم کارت</li>
                <li>کامپیوترهای all in one</li>
                <li>باتری</li>
            </ul>
            <div id="svg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16L6 10H18L12 16Z" fill="currentColor"/></svg>  
            </div>
        </div>
    </div>
</div>
