#parent{
    border: 1px solid gray;
    border-radius: 15px;
    width: 305px;
    height: 470px;
    padding: 8px;
    margin-top:10px ;
    margin-right: 10px;
}
#img{
    width: 300px;
}
.Product {
    margin-bottom:26px ;
}
#Product {
    color:red ;
}