<div class="parent">
    <img id="banner" src="https://www.technolife.ir/image/banner_TopGifDesktop_mVWY5T_5e276800-6f56-4783-adef-df35e2d8a797.png"
        alt="خرید اقساطی">
    <div id="logo">
        <img src="https://www.technolife.ir/image/static_technolife-title.svg" alt="logo">
        <div id="logo1">
            <svg width="64px" height="64px" viewBox="-8.4 -8.4 40.80 40.80" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                transform="rotate(0)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <title>/svg/ic-magnifying-glass</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g id="Page-1" stroke-width="0.00024000000000000003" fill="none" fill-rule="evenodd">
                        <g id="ic-magnifying-glass" fill-rule="nonzero" fill="#4A4A4A">
                            <path
                                d="M14.8077886,16.2116625 L18.3188572,19.7227139 C18.7088354,20.1126902 19.3312517,20.1115463 19.7214187,19.7213812 C20.1123626,19.3304392 20.1118293,18.7079023 19.7227515,18.3188264 L16.2116829,14.807775 L14.8077886,16.2116625 Z M13.1460205,17.3576774 C12.1803723,17.7711099 11.1169162,18 10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,11.1169077 17.7711134,12.1803561 17.3576869,13.1459984 L21.1266458,16.9149389 C22.290535,18.0788225 22.2921453,19.9584421 21.1253131,21.1252687 C19.9609493,22.2896267 18.0814479,22.2930808 16.9149629,21.1266014 L13.1460205,17.3576774 Z M10,16 C13.3137085,16 16,13.3137085 16,10 C16,6.6862915 13.3137085,4 10,4 C6.6862915,4 4,6.6862915 4,10 C4,13.3137085 6.6862915,16 10,16 Z"
                                id="Combined-Shape"> </path>
                        </g>
                    </g>
                </g>
            </svg>
            <input type="text" placeholder="محصول، برند یا دسته مورد نظرتان را جستجو کنید">
        </div>
        <div id="login">
            <p>ورود | ثبت نام</p>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5 4H19L18.048 13.6826C17.8982 15.1252 16.6905 16.2353 15.2437 16.2353H8.7563C7.30952 16.2353 6.10183 15.1252 5.95202 13.6826L5 4Z"
                    stroke="rgb(145, 145, 145)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                    d="M9 20.25C9 19.8358 9.33579 19.5 9.75 19.5C10.1642 19.5 10.5 19.8358 10.5 20.25C10.5 20.6642 10.1642 21 9.75 21C9.33579 21 9 20.6642 9 20.25Z"
                    stroke="rgb(145, 145, 145)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                    d="M14.5 20.25C14.5 19.8358 14.8358 19.5 15.25 19.5C15.6642 19.5 16 19.8358 16 20.25C16 20.6642 15.6642 21 15.25 21C14.8358 21 14.5 20.6642 14.5 20.25Z"
                    stroke="rgb(145, 145, 145)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </div>
        <div id="menu">
            <ul>
                <a href="">
                    <li>موبایل</li>
                </a>
                <a href="">
                    <li>لپ تاپ</li>
                </a>
                <a href="">
                    <li>هدفون و هندزفری</li>
                </a>
                <a href="">
                    <li>ساعت هوشمند</li>
                </a>
                <a href="">
                    <li>کامپیوتر</li>
                </a>
                <a href="">
                    <li>شبکه</li>
                </a>
                <a href="">
                    <li>گیمینگ</li>
                </a>
                <a href="">
                    <li>لوازم خانگی</li>
                </a>
            </ul>
        </div>
    </div>
    <hr>
</div>